Modulo-2/chatbot telegram simples.json
{
  "name": "chatbot telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "55e8b7df-0a43-41bb-b759-8ef564610edb",
      "name": "Telegram Trigger",
      "webhookId": "4e1ab8ea-60a7-4d3d-b9f9-93882025fbdf",
      "credentials": {
        "telegramApi": {
          "id": "okdxt4RGBFyXT7wI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "63d91d36-a80c-46b5-8910-b6a957c16b0c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "40936153-7204-467f-8cc2-bf3aefbddd89",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZnCbIDEtsXaVqKJn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "297b72a3-2708-4b1e-a5c6-be640f65ec38",
      "name": "Send a text message",
      "webhookId": "9dbed662-2683-410b-bd64-88852c8af48f",
      "credentials": {
        "telegramApi": {
          "id": "okdxt4RGBFyXT7wI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8133348-082b-44d4-b54c-0d678ae81b4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c747472b29fbd39357c55eab3d3bbdbeee1f5742fabbe89829cf1ce44a2051f4"
  },
  "id": "BbdxhTVx3g0QsZQA",
  "tags": []
}